* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
  background-color: #fcfdff;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #6897eb;
}

.title-container i {
  font-size: 25px;
}

header p {
  margin-top: 15px;
  font-size: 18px;
  color: #1c507b;
}

/*FORM STYLES*/

.form-section {
  background-color: #6897eb;
  color: #fff;
  padding: 20px;
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

input,
select,
button {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select,
button {
  cursor: pointer;
}

#btn {
  background-color: #0077b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn:hover {
  background-color: #00597d;
}

/*RESULT STYLES*/

.result-section {
  background-color: #6897eb; /* Cor principal */
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #0077b6;
  color: #fff;
  font-weight: bold;
}

td {
  background-color: #00597d;
  color: #fff;
}
